parameters:
	ignoreErrors:
		-
			message: "#^Method libpmquery\\\\PMQuery\\:\\:query\\(\\) should return array\\{GameName\\: string\\|null, HostName\\: string\\|null, Protocol\\: string\\|null, Version\\: string\\|null, Players\\: int, MaxPlayers\\: int, ServerId\\: string\\|null, Map\\: string\\|null, \\.\\.\\.\\} but returns array\\{GameName\\: string\\|null, HostName\\: string\\|null, Protocol\\: string\\|null, Version\\: string\\|null, Players\\: int, MaxPlayers\\: int, ServerId\\: string\\|null, Map\\: string\\|null, \\.\\.\\.\\}\\.$#"
			count: 1
			path: src/libpmquery/PMQuery.php

		-
			message: "#^Strict comparison using \\!\\=\\= between int and null will always evaluate to true\\.$#"
			count: 1
			path: src/libpmquery/PMQuery.php

