parameters:
	ignoreErrors:
		-
			message: "#^Method libpmquery\\\\PMQuery\\:\\:query\\(\\) should return array\\<string, int\\|string\\> but returns array\\<string, int\\|string\\|null\\>\\.$#"
			count: 1
			path: src/libpmquery/PMQuery.php

		-
			message: "#^Strict comparison using \\!\\=\\= between int and null will always evaluate to true\\.$#"
			count: 1
			path: src/libpmquery/PMQuery.php

